In [41]:
import glob         
import pandas as pd

In [42]:
def extract_from_txt(file_to_process): #extract txt file

    with open(file_to_process, 'r') as file:
        data = file.read()
    return data

In [43]:
def extract():

    extracted_data = extract_from_txt('data.txt')
    return extracted_data

In [44]:
def transform(data): #transform data

    li = data.split(' ')
    dicti = set(li)

    df = pd.DataFrame(0, index=dicti, columns=['Count'])

    for word in dicti:
        for i in li:
            if word == i:
                df.loc[word]['Count'] += 1


    return df

In [45]:
def load(targetfile,data_to_load): #load
    data_to_load.to_csv(targetfile)

In [46]:
#extraction process started
extracted_data = extract()

extracted_data

'cow is domestic animal. domestic animal are pets. cow is domestic animal like pets. cow is holy animal. cow gives milk. milk is healthy.'

In [47]:
#transformation process started
transformed_data = transform(extracted_data)

transformed_data

          Count
pets.         2
cow           4
is            4
animal        2
milk.         1
healthy.      1
are           1
holy          1
domestic      3
gives         1
animal.       2
milk          1
like          1

In [48]:
#load process started
load('load.csv',transformed_data)