In [17]:
import glob         
import pandas as pd

In [18]:
def extract_from_csv(file_to_process): #for csv
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [19]:
def extract_from_txt(file_to_process): #for txt
    dataframe=pd.read_csv(file_to_process, sep=" ")
    return dataframe

#same way, SQL, JSON files can also be extracted

In [20]:
def extract():
    extracted_data = pd.DataFrame(columns=['foodID', 'item']) # create an empty data frame to hold extracted data
    
    #process all csv files
    for csvfile in glob.glob("*.csv"):
        extracted_data = extracted_data.append(extract_from_csv(csvfile), ignore_index=True)
        
    #process all txt files
    for txtfile in glob.glob("*.txt"):
        extracted_data = extracted_data.append(extract_from_txt(txtfile), ignore_index=True)
        
    return extracted_data

In [21]:
def transform(data):
        data['item'] = data['item'].apply(lambda x: x.upper())
        return data

In [22]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [23]:
# "Extract phase Started"
extracted_data = extract()
# "Extract phase Ended"
extracted_data

   foodID      item
0       1     pizza
1       2  sandwich
2       3   noodles
3       1     tacos
4       2    burger
5       3     pasta
6       1     pizza
7       2  sandwich
8       3   noodles
9       1     pizza
10      2  sandwich
11      3   noodles
12      1     tacos
13      2    burger
14      3     pasta

In [24]:
# "Transform phase Started"
transformed_data = transform(extracted_data)
# "Transform phase Ended"
transformed_data

   foodID      item
0       1     PIZZA
1       2  SANDWICH
2       3   NOODLES
3       1     TACOS
4       2    BURGER
5       3     PASTA
6       1     PIZZA
7       2  SANDWICH
8       3   NOODLES
9       1     PIZZA
10      2  SANDWICH
11      3   NOODLES
12      1     TACOS
13      2    BURGER
14      3     PASTA

In [25]:
# "Load phase Started"
load('load.csv',transformed_data)
# "Load phase Ended"